.App {
  text-align: center;
   /* background-image: url('https://img.freepik.com/free-vector/blue-coronavirus-patterned-background_53876-116890.jpg?t=st=1724267572~exp=1724271172~hmac=e165d8c4bbd341d1d4b12679ccd7a9dfae0f5f6280324ee7efb72499693fc0e8&w=740');       */
   background-size: cover;
   margin-bottom: 0;
}

.heading{
  /* background-image: url('https://media.istockphoto.com/id/1217008895/vector/background-particle-virus.jpg?s=1024x1024&w=is&k=20&c=CqMHdRh-fR9JSFBvxmuYYrgqdLzPvg3ZMEuR8yJrFZU=');    */
  padding: 30px 30px;
  background-size: cover;
  font-size: 50px;
  /* background-color: rgb(188, 207, 207); */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center cards horizontally */
  gap: 20px; /* Space between cards */
  margin-bottom: 30px;
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
